body{
    background-color:darkred;
    color:burlywood;
    margin: 50px;
    padding: 12px;
    border-width: 7px ;
    border-style: solid;
    border-radius: 13px;
    border-color: burlywood;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    color: burlywood;
}
 img{
    border-color: burlywood;
    border-style: solid;
    border-radius: 20px;
    border-width: 7px;
 }